build/*
bin/*
.gradle/*
data/*
.DS_Store
*.log
/build/
target/*
.classpath
.settings/*
/bin/
.eclipse-pmd
documentation/generated/rest/*
documentation/generated/gid/*
platform.iml
.idea/workspace.xml
.idea
.project
gradlew
gradlew.bat
platform*.iml
gradle/*
.sonar
${sys*

